/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .row {
    padding-bottom: 10%;
    background: linear-gradient(90deg, #303030, transparent 0.7%) 0px 0, #2A2A2E;
    background-size: 200px 1px;
    border-bottom: 1px solid #303030;
  }

  .lottie-bg {
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
    width: 165%;
    height: 100%;
    z-index: 0;
  }

  .scroll-down {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: -12px;
    margin-left: -10px;
  }

  .roee {
    position: absolute;
    left: 0;
    width: 100%;

  }

  .logo {
    display: none;
  }

  .title {
    display: inline-block;
    margin-top: -100px;

  }

  .content {
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 200px;
    color: #babac2;
    z-index: 1;

  }

  .gallery {
    display: none;
  }
}

@media only screen and (min-width: 480px) {

  .row {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
  }

  .logo {
    display: inline;
    width: 80px;
    height: 80px;
    margin-top: -150px;
    margin-right: 5px;
  }

  .title {
    margin-top: 0;

  }

  .lottie-bg {
    width: 180%;
  }


}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .gallery {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    z-index: 1;
  }
  .content {
    margin-top: 300px;
    padding-left: 5%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .content {
    padding-right: 55%;

  }
}

@media only screen and (min-width: 1200px) {
  .roee {
    width: 75%;
  }

  .content {
    padding-right: 69%;

  }
}

