<header ngsReveal>
  <img class="gallery" src="../assets/img/iMac.png">

  <div class="container-fluid">
    <div class="row">

      <div class="col">
        <lottie-player class="lottie-bg" src="https://assets8.lottiefiles.com/packages/lf20_RP0XoR.json" speed="1" loop autoplay></lottie-player>
        <img class="roee" src="../assets/img/roee.png">

        <div class="content">
          <img class="logo " src="../assets/img/logo.png">
          <div class="title">
            <p class="display-4" [style]="'font-size: 50px'">Roee Cohen</p>
            <p  class="display-4" style="margin-top: -19px; font-size: 25px">Resume</p><br/>
          </div>
          <p  style="color: #9d9d9d; font-size: 16px}">Creative Full Stack Developer with wide knowledge in Java, Javascript, Angular, Node.js and SQL.
            Expertise with HTML and CSS and seeks to establish a career as the Full Stack developer in your company.</p><br/><br/><br/>
          <!--          <button #click_here_btn type="button" class="btn btn-warning px-4 py-2 text-white btn-lg font-weight-2" [style]="'font-size: 16px'" (click)="toExp()">CLICK FOR MORE</button>-->
          <lottie-player class="scroll-down" src="https://assets1.lottiefiles.com/packages/lf20_hPJMxQ.json" speed="1" loop autoplay></lottie-player>
          <span [style.display]="'inline'" class="mt-5" style="color: #fee600">scroll down</span>
        </div>
      </div>


    </div>


  </div>
</header>
