<div class="container-fluid b-m ">
  <div class="row text-center py-3">
    <div class="col text">
      © Copyright <img class="logo " src="../assets/img/logo.png"> DesignStudio.<br/> Powered by Roee Cohen. Built with Angular CLI.
    </div>
  </div>
</div>
