/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .row {

    background: linear-gradient(90deg, #323236, transparent 1%) 0 0, #2A2A2E;
    background-size: 200px 1px;
  }
  .b-m{
    margin-bottom: -25%;
  }

  .logo{
    width: 20px;
    height: 20px;
  }

  .text{
    color: #a2a2a9;
    font-size: 14px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

  .row {
    margin-left: 2%;
    margin-right: 2%;
  }
  .b-m{
    margin-bottom: -4%;
  }
}

