/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

  .sticky {
    position: sticky;
    bottom: 10px;
    color: white;
    z-index: 2;
  }

  .lottie {
    width: 100px;
    height: 100px;
  }

  .round-yellow {
    background-color: #ffc107;
    border-radius: 20px;
    font-size: 14px;

  }

  .round-black {
    background-color: #1d1d1d;
    border-radius: 20px;
    font-size: 14px;
  }

  .fade-in {
    animation: fadeIn ease 1s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .sticky {
    margin-right: 2%;
  }

  .lottie {
    width: 120px;
    height: 120px;
  }
}
