<div class="sticky float-right">

  <lottie-player class="lottie float-right" src="../assets/lottie/lf30_editor_v1t5clr7.json" speed="1" loop autoplay></lottie-player>
  <div class="d-inline-block text-right mt-3" >
    <div id="contact_info"><p class="round-yellow d-flex p-2">roeecohen5@gmail.com</p> <p class="round-black mt-n2 d-inline-flex p-2">058-7180749</p></div>
  </div>
</div>

