<h1 class="display-4">Military</h1><br/><br/>
<h2>2014 - 2017</h2>
<h4 class="display-4"><b>Israel Defense Force, Mandatory Army Service</b></h4><br/>
<h5 class="display-4">I served in Battalion 405. As part of my military service, I carried out artillery fire, participated in arrests, disturbances in order, and
  collaborated with various units in the army.</h5><br/><br/>

