  <h1 class="display-4">Education</h1><br/><br/>
  <h2>2010 - 2012</h2>
  <h4 class="display-4"><b>Ness Technologies – Excellence Project</b></h4><br/>
  <h5 class="display-4">Received <span [style.color]="'#FFC107'">excellence award</span> for final project - the project was a prototype to device that transfers internet connection to any device</h5><br/>
  <br/><br/>

  <h2>2017-2020</h2>
  <h4 class="display-4"><b>Computer's Science Student (B.Sc) At The Hadassah College</b></h4><br/>
  <span class="dot"></span>
  <h5 class="bullet-text display-4">  Received <span [style.color]="'#FFC107'">Dean's list awards</span></h5><br/>
  <span class="dot"></span>
  <h5 class="bullet-text display-4">  GPA - 93</h5><br/><br/><br/>
