.dot {
  height: 12px;
  width: 12px;
  background-color: #ffc107;
  border-radius: 50%;
  display: inline-block;
}

h1{
  font-size:60px;
  color: #d0d0d0;
}

h2{
  font-size: 40px;
  color: #3b3b40;
}

h4{
  color: #c6c6c6;
  font-size: 25px;
}

h5{
  font-size: 20px;
  color: #9d9d9d;
  font-weight: normal;
  display: inline;
}


