<h1 class="display-4">Experience</h1><br/><br/>
<h2>2018 - 2020</h2>
<h4 class="display-4"><b>"Aharai" web development</b></h4><br/>

<h5 class="display-4" >As part of my volunteer work, I was responsible on maintaining the Wordpress website of the "Aharai" organization,
  which includes user's site optimizing, bugs fixing, pages building and designing.</h5><br/><br/><br/>

<h2 >2020 - 2021</h2>
<h4 class="display-4" ><b>ISRCorp</b></h4><br/>
<span class="dot"></span>
<h5 class="display-4"> Using <span [style.color]="'#FFC107'">Java</span> and <span [style.color]="'#FFC107'">Spring Boot</span>, developed a system for bus companies that
  tracks the buses behavior </h5><br/><br/>
<span class="dot"></span>
<h5 class="bullet-text display-4"> Using <span [style.color]="'#FFC107'">CSS, Javascript</span> and <span [style.color]="'#FFC107'">Bootstrap</span>, developed responsive dashboard to
  monitor system resource utilization </h5><br/><br/><br/>

<h2>2020 - present</h2>
<h4 class="display-4"><b>Wordpress web development</b></h4><br/>
<h5 class="display-4"> Using <span [style.color]="'#FFC107'">Wordpress</span> and <span [style.color]="'#FFC107'">Elementor, Woocommerce</span> plugins I am building for
  private clients responsive websites and online stores with an emphasis on
  personal design.</h5><br/><br/>

