<div class="item">
  <h1 class="display-4">Projects</h1><br/><br/>
  <h2>2018 - 2019</h2>
  <h4 class="display-4"><b>Object Oriented Games</b></h4><br/>
  <span class="dot"></span>
  <h5 class="display-4"> "Bomberman" game project</h5><br/>
  <span class="dot"></span>
  <h5 class="display-4"> "Lemmings" game project</h5>
  <br/><br/>
  <h5 class="display-4">During my studies I created the aforementioned multiplayer games using <span [style.color]="'#FFC107'">Object Oriented</span> C++
    and tcp technology
  </h5><br/><br/>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-warning text-white" data-toggle="modal" data-target="#videoLemModal" (click)="openModal()">
    Watch now
  </button>
  <br/><br/><br/>

  <h2>2020</h2>
  <h4 class="display-4"><b>Android Application </b></h4><br/>
  <span class="dot"></span>
  <h5 class="display-4"> "CookIt" <span [style.color]="'#FFC107'">android</span> application </h5><br/><br/>
  <h5 class="display-4">My final project in my B.Sc. degree was a recipes app which designed to make culinary life much simpler. Using <span
    [style.color]="'#FFC107'">Rest API</span>
    and <span [style.color]="'#FFC107'">Firebase</span> I managed to get any recipe which is consisted by demanded ingredients that the user searched with.</h5>
  <br/><br/>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-warning text-white " data-toggle="modal" data-target="#videoCookModal" (click)="openModal()">
    Watch now
  </button>
  <br/><br/><br/>
</div>

<!-- watch lemmings Modal -->
<div class="modal fade" id="videoLemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-transparent">
      <!-- 1:1 aspect ratio -->
      <div class="embed-responsive embed-responsive-1by1 video-pos" #lem_video>
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/cJwQ8QGgGxE" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>>
        </iframe>
      </div>
      <button type="button" class="btn btn-warning video-pos text-white" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<!-- watch cook Modal -->
<div class="modal fade" id="videoCookModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-transparent">
      <!-- 1:1 aspect ratio -->
      <div class="embed-responsive embed-responsive-1by1 video-pos" #cook_video>
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/I2rxy0oFdBQ" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>>
        </iframe>
      </div>
      <button type="button" class="btn btn-warning video-pos text-white" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
