<h1 class="display-4">Skills</h1><br/><br/>

<h4 class="display-4"><b>Programming languages</b></h4>
<h5 class="display-4">HTML, JavaScript, JQuery, Angular, Ionic, Java, Spring Boot, Node.js, Ajax, Android, C, C++, Python</h5><br/><br/>

<h4 class="display-4"><b>Operating Systems</b></h4>
<h5 class="display-4">Linux, Windows</h5><br/><br/>

<h4 class="display-4"><b>Database</b></h4>
<h5 class="display-4">SQL, Firebase</h5><br/><br/>

<h4 class="display-4"><b>More</b></h4>
<h5 class="display-4">Rest API, Git, Wordpress, Photoshop</h5><br/><br/>
