/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html {
  background-color: #202020;
  scrollbar-width: thin;
  scrollbar-color: #ffc400;
}


html::-webkit-scrollbar {
  width: 18px;
}

html::-webkit-scrollbar-track {
}

html::-webkit-scrollbar-thumb {
  background-color: #ffc400;
  border-radius: 20px;
}




