<div class="container-fluid">
  <div class="row ">
    <div class="col">
      <div class="bg-big-text">
        <span style="color: #3b3b40;"><b>ALL ABOUT ME!!</b></span>
        <span style="color: #ffc400; opacity: 20%"><b>//</b></span>
      </div>
    </div>
  </div>

  <!--experience-->
  <div class="row divider itemset" [ngsRevealSet]="{ reset:true}" [ngsInterval]="400" [ngsSelector]="'.item'">
    <div class="col mt-5 exp-skills-military item">
      <app-experience></app-experience>
    </div>
    <div class="col my-auto item">
      <lottie-player class="shadow-lg lottie-text lottie-margin" src="https://assets5.lottiefiles.com/packages/lf20_rpZeHP.json" background="#303037" speed="1" loop
                     autoplay></lottie-player>
    </div>
  </div>

  <!--confetti bg-->
  <div class="row " style="z-index: 10">
    <div class="col">
      <div class="lottie-bg">
        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_94B4Hs.json" speed="1" loop autoplay></lottie-player>
      </div>
    </div>
  </div>

  <!--projects-->
  <div class="row divider projects-education itemset" [ngsRevealSet]="{ reset:true}" [ngsInterval]="400" [ngsSelector]="'.item'">
    <div class="col order-lg-2">
      <app-projects></app-projects>
    </div>
    <div class="col order-lg-1 my-auto item" style="position:relative; z-index: 1">
      <lottie-player class="shadow-lg lottie-text" src="https://assets8.lottiefiles.com/packages/lf20_rZQs81.json" background="#303037" speed="1" loop autoplay></lottie-player>
      <!--      https://assets8.lottiefiles.com/packages/lf20_aiYATd.json-->
    </div>

  </div>

  <!--skills-->
  <div class="row divider itemset" [ngsRevealSet]="{ reset:true}" [ngsInterval]="400" [ngsSelector]="'.item'">
    <div class="col mt-5 exp-skills-military item">
      <app-skills></app-skills>
    </div>
    <div class="col my-auto item">
      <lottie-player class="shadow-lg lottie-text lottie-margin" src="https://assets9.lottiefiles.com/packages/lf20_j7PO1E.json" speed="1" loop autoplay></lottie-player>
    </div>
  </div>

  <!--yellow bg-->
  <div class="row divider d-none d-sm-block">
    <div class="col">
      <div class="lottie-bg">
        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_RP0XoR.json" speed="1" loop autoplay></lottie-player>
      </div>
    </div>
  </div>

  <!--education-->
  <div class="row divider projects-education itemset" [ngsRevealSet]="{ reset:true}" [ngsInterval]="400" [ngsSelector]="'.item'">
    <div class="col order-lg-2 item" style="position:relative; z-index: 1">
      <app-education></app-education>
    </div>
    <div class="col order-lg-1 my-auto item" style="position:relative; z-index: 1">
      <div class="shadow-lg lottie-text" style="background:#303037; padding: 30px">
        <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_DMgKk1.json" speed="1" loop autoplay></lottie-player>
      </div>
    </div>
  </div>

  <!--military-->
  <div class="row divider military-pad itemset" [ngsRevealSet]="{ reset:true}" [ngsInterval]="400" [ngsSelector]="'.item'">
    <div class="col mt-5 exp-skills-military item">
      <app-military></app-military>
    </div>
    <div class="col my-auto item">
      <div class="shadow-lg lottie-text lottie-margin " style="background:#303037; padding: 35px">
        <lottie-player src="../assets/lottie/army.json" speed="1" loop autoplay></lottie-player>
      </div>
    </div>
  </div>
</div>
