/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {

  .modal-open {
    overflow: scroll;
  }
  .lottie-text {
    margin-bottom: 30px;

    width: 260px;
    height: 260px;
  }

  .bg-big-text {
    display: none;
  }

  .row {
    padding-left: 2%;
    padding-right: 2%;

    background: linear-gradient(90deg, #303030, transparent 1%) 0 0, #2A2A2E;
    background-size: 200px 1px;
  }

  .divider{
    border-bottom: 1px solid #303030;

  }

  .lottie-bg {
    position: absolute;
    left: -2%;
    top: 0;
    overflow: hidden;
    width: 70%;
    transform: scaleX(-1);
    z-index: 0;
  }

  .projects-education {
    padding: 6% 0 0;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

  .row{
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
  }
  .lottie-text {
    width: 300px;
    height: 300px;
  }

  .lottie-bg{
    width: 50%;

  }

  .projects-education {
    padding-right: 12%;
    padding-left: 15%;
  }

  .bg-big-text {
    display: block;
    font-size: 430%;
  }

  .exp-skills-military{
    padding-left: 15%;
  }
  .lottie-margin{
    margin-left: 12%;
  }

}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .bg-big-text {
    font-size: 500%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .lottie-text {
    width: 300px;
    height: 300px;
  }

  .bg-big-text {
    font-size: 700%;
  }

  .exp-skills-military{
    margin-bottom: 5%;
  }

  .military-pad{
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .lottie-margin{
    margin-left: 0;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .lottie-text {
    width: 450px;
    height: 450px;
  }

  .bg-big-text {
    font-size: 900%;
  }

  .exp-skills-military{
    padding-right: 40px;
  }
}

@media only screen and (min-width: 1800px) {
  .lottie-text {
    width: 450px;
    height: 450px;
  }

  .bg-big-text {
    font-size: 1300%;
  }
}
